{% extends "base.html" %}
{% load custom_filters %}

{% load crispy_forms_filters %}
{% block css %}
    <style>
        td {
            text-align: left !important;
            padding-left: 2px !important;
        }

        th {
            text-align: left !important;
            padding-left: 2px !important;
        }

        .table-container {
            height: auto; /* Set the desired height */
            overflow-y: scroll; /* Enable vertical scrolling */
            scrollbar-width: thin; /* Set the width of the scrollbar */
            scrollbar-color: #888888 #f0f0f0; /* Set the color of the scrollbar */
        }


    </style>

{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="breadcrumb-main">
                <h4 class="text-capitalize breadcrumb-title">Uploads</h4>
                <div class="breadcrumb-action justify-content-center flex-wrap">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url "admin_dashboard" %}"><i
                                    class="uil uil-estate"></i>Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Uploads</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-30">
            <div class="support-ticket-system support-ticket-system--search">
                <div class="breadcrumb-main m-0 breadcrumb-main--table justify-content-sm-between ">

                    <form action="{% url "admin_list_uploads" %}" class="support-form datatable-support-form d-flex justify-content-xxl-between
                    justify-content-between align-items-center flex-wrap">
                        <div class="support-form__input-status m-3">

                        </div>
                        <div class="d-flex m-3">
                            <input class="form-control p-2" type="search"
                                   placeholder="Search"
                                   style="min-width: 250px"
                                   name="search"
                                    {% if request.GET.search %}
                                   value="{{ request.GET.search }}"
                                    {% endif %}
                                   aria-label="Search">
                        </div>
                        <button class="support-form__input-button">search</button>

                    </form>


                </div>


                <div class="userDatatable userDatatable--ticket userDatatable--ticket--2 mt-1 table-container">
                    <table class="table table--default table-borderless">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Row</th>
                            <th>Timestamp</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for contract in object_list %}
                            <tr>
                                <td>{{ contract.name }}</td>
                                <td>
                                    {% if contract.status == "SUCCESS" %}
                                        <h4 class="badge  badge-dot--big"
                                            style="background-color: #1B3F7F; border-radius: 2px; width: 70px">
                                            SUCCESS
                                        </h4>
                                    {% else %}
                                        <h4 class="badge  badge-dot--big"
                                            style="background-color: #9D2154; border-radius: 2px; width: 70px">
                                            PENDING
                                        </h4>
                                    {% endif %}
                                </td>
                                <td>{{ contract.management_set.count }}</td>
                                <td>{{ contract.timestamp }}</td>
                                <td class="d-flex  ">

                                    <form action="{% url 'admin_delete_contract' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{ contract.id }}"
                                               name="contract_id">

                                        <button type="submit"
                                                class=" " style="border: none;padding: 0;color: #9D2154;">
                                            <i class="uil uil-trash-alt "></i>
                                        </button>
                                    </form>
                                    <a href="{% url "admin_contract_update" contract.id %}" class="px-2 "
                                       style="padding: 0;color: #1B3F7F;"><i class="uil uil-edit "></i>
                                    </a>

                                    <a href="{% url "contract_download" contract.id %}"
                                       class=" " style="box-shadow: none;padding: 0;color: #1B3F7F;">

                                        <i class="uil uil-file-download"></i>
                                    </a>


                                </td>
                            </tr>

                        {% endfor %}


                        </tbody>
                    </table>
                    <div class="d-flex justify-content-end pt-30">
                        <nav class="dm-page ">
                            <ul class="dm-pagination d-flex">
                                {% if is_paginated %}
                                    <li class="dm-pagination__item">
                                        {% if page_obj.has_previous %}
                                            <a href="{% paginate_url page_obj.previous_page_number 'page' request.GET.urlencode %}"
                                               class="dm-pagination__link pagination-control"><span
                                                    class="la la-angle-left"></span></a>
                                        {% else %}
                                            <a href="#" class="dm-pagination__link pagination-control"><span
                                                    class="la la-angle-left"></span></a>
                                        {% endif %}
                                        {% get_proper_elided_page_range paginator page_obj.number as page_range %}
                                        {% for i in page_range %}
                                            {% if page_obj.number == i %}
                                                <a href="#" class="dm-pagination__link active"><span
                                                        class="page-number">{{ i }}</span></a>
                                            {% else %}
                                                <a href="{% paginate_url i 'page' request.GET.urlencode %}"
                                                   class="dm-pagination__link"><span
                                                        class="page-number">{{ i }}</span></a>
                                            {% endif %}
                                        {% endfor %}
                                        {% if page_obj.has_next %}
                                            <a href="{% paginate_url page_obj.next_page_number 'page' request.GET.urlencode %}"
                                               class="dm-pagination__link pagination-control"><span
                                                    class="la la-angle-right"></span></a>
                                        {% else %}
                                            <a href="#" class="dm-pagination__link pagination-control"><span
                                                    class="la la-angle-right"></span></a>

                                        {% endif %}
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card card-default card-md mb-4">
                <div class="card-header  py-20">
                    <h6>Managements</h6>
                </div>
                <div class="card-body">
                    <div class="tab-wrapper">
                        <div class="dm-tab tab-horizontal">
                            <ul class="nav nav-tabs vertical-tabs" role="tablist">

                                {% for contract in object_list %}
                                    <li class="nav-item">
                                        <a class="nav-link{% if forloop.counter == 1 %} active{% endif %}"
                                           id="tab-v-{{ contract.id }}-tab" data-bs-toggle="tab"
                                           href="#tab-v-{{ contract.id }}" role="tab"
                                           aria-selected="{% if forloop.counter == 1 %}true{% else %}false{% endif %}">
                                            {{ contract.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="tab-content">
                                {% for contract in object_list %}
                                    <div class="tab-pane fade{% if forloop.counter == 1 %} show active{% endif %}"
                                         id="tab-v-{{ contract.id }}" role="tabpanel"
                                         aria-labelledby="tab-v-{{ contract.id }}-tab">
                                        <div class="table-responsive " style="margin-bottom: 50px">

                                            <div class="table-container">
                                                <table class="table table-bordered table-social">
                                                    <thead>
                                                    <tr>
                                                        <th scope="row" rowspan="3">{{ Counter }}</th>
                                                        {% for field in contract.management_set.all|first|get_all_fields %}
                                                            {% if field.name not in exclude_management_fields %}
                                                                <th scope="row" rowspan="3"
                                                                    style="font-weight: bolder">
                                                                    {{ field.verbose_name|title }}

                                                                </th>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </tr>
                                                    </thead>
                                                    <tbody>

                                                    {% for item in contract.management_set.all %}
                                                        <tr>
                                                            <td class="sticky-counter">{{ forloop.counter }}</td>
                                                            {% with item|get_all_field_values as field_values %}
                                                                {% with item|get_all_fields as fields %}
                                                                    {% for field_value, field in field_values|zip_fields_values:fields %}
                                                                        {% if field.name not in exclude_management_fields %}
                                                                            <td style="min-width: 200px">{{ field_value }}</td>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endwith %}
                                                            {% endwith %}
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>


                                        </div>


                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>


    </div>

{% endblock %}

