{% load static %}

<!doctype html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PropertyManagement</title>
    <link href='https://fonts.googleapis.com/css?family=Cairo' rel='stylesheet'>

    <link rel="stylesheet" href="{% static "css/plugin.min.css" %}">
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link rel="stylesheet" href="{% static "css/custom_style.css" %}">
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">


    <style>
        body {
            font-family: 'Cairo', sans-serif;
            font-weight: normal;
        }

        b, strong {
            font-weight: normal;
        }

        h1, h2, h3, h4, h5, h6 {
            font-weight: normal;
            font-family: "Cairo", sans-serif;
        }

        .bold {
            font-weight: normal;
        }

        td {
            max-height: 50px !important; /* Adjust the value as needed */
            overflow: hidden;
            padding: 10px !important;
        }

        .sentence {
            text-transform: initial !important;
        }

        .form-select {
            min-width: 200px !important;;
        }



    </style>
    {% block css %}

    {% endblock %}
</head>

<body class=" side-menu  ">
<div class="mobile-search">

</div>
<div class="mobile-author-actions"></div>
<header class="header-top">
    <nav class="navbar navbar-light">
        <div class="navbar-left">
            <div class="logo-area">
                <a class="navbar-brand" href="#">
                    <img class=" dark" src="{% static 'img/logo-dark.png' %}" alt="logo">
                    <img class="light" src="{% static 'img/logo-white.png' %}" alt="logo">
                </a>
                <a href="#" class="sidebar-toggle">
                    <img class="svg" src="{% static 'img/svg/align-center-alt.svg' %}" alt="img"></a>
            </div>


        </div>

        <div class="navbar-right">
            <ul class="navbar-right__menu">


                <li class="nav-author">
                    <div class="dropdown-custom">
                        <a href="{% url "user_profile" %}" class="nav-item-toggle"><img
                                {% if request.user.user_profile.profileImageURL %}
                                    src="{{ request.user.user_profile.profileImageURL }}"
                                {% else %}
                                    src="{% static 'img/favicon.ico' %}"
                                {% endif %}
                                    alt=""
                                    class=" rounded-circle">
                            <span class="nav-item__title">{{ request.user.username }}<i
                                    class="las la-angle-down nav-item__arrow"></i></span>
                        </a>
                        <div class="dropdown-parent-wrapper">
                            <div class="dropdown-wrapper">
                                <div class="nav-author__info">
                                    <div class="author-img">

                                        <img
                                                {% if request.user.user_profile.profileImageURL %}
                                                    src="{{ request.user.user_profile.profileImageURL }}"
                                                {% else %}
                                                    src="{% static 'img/favicon.ico' %}"
                                                {% endif %}
                                                    alt="" class="rounded-circle">
                                    </div>
                                    <div>
                                        <a href="{% url "user_profile" %}"><h6>{{ request.user.username }}</h6></a>
                                    </div>
                                </div>
                                <div class="nav-author__options">

                                    <a href="{% url "custom_logout" %}" class="nav-author__signout">
                                        <i class="uil uil-sign-out-alt"></i> Sign Out</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>

            </ul>

            <div class="navbar-right__mobileAction d-md-none">
                <a href="#" class="btn-search">
                    <img src="{% static 'img/svg/search.svg' %}" alt="search" class="svg feather-search">
                    <img src="{% static 'img/svg/x.svg' %}" alt="x" class="svg feather-x"></a>
                <a href="#" class="btn-author-action">
                    <img class="svg" src="{% static "img/svg/more-vertical.svg" %}" alt="more-vertical"></a>
            </div>
        </div>

    </nav>
</header>
<main class="main-content">
    <div class="sidebar-wrapper">
        <div class="sidebar sidebar-collapse" id="sidebar">
            <div class="sidebar__menu-group">
                <ul class="sidebar_nav">


                    {% if reqeuest.user.is_staff or request.user.is_superuser %}
                        <li class="{% if request.resolver_match.view_name == 'admin_dashboard' %}active{% endif %}">
                            <a href="{% url "admin_dashboard" %}">
                                <span class="nav-icon uil uil-create-dashboard"></span>
                                <span class="menu-text">Dashboard</span>
                            </a>
                        </li>

                        <li class="{% if request.resolver_match.view_name == 'admin_list_uploads' %}active{% endif %}">
                            <a href="{% url "admin_list_uploads" %}">
                                <span class="nav-icon uil uil-upload"></span>
                                <span class="menu-text">Uploads</span>
                            </a>
                        </li>
                        <li class="{% if request.resolver_match.view_name == 'admin_mapping' %}active{% endif %}">
                            <a href="{% url "admin_mapping" %}">
                                <span class="nav-icon uil  uil-columns "></span>
                                <span class="menu-text">Mappings</span>
                            </a>
                        </li>
                        <li class="{% if request.resolver_match.view_name == 'admin_list_users' %}active{% endif %}">
                            <a href="{% url "admin_list_users" %}">
                                <span class="nav-icon uil  uil-user-plus"></span>
                                <span class="menu-text"> Users</span>
                            </a>
                        </li>
                        <li class="{% if request.resolver_match.view_name == 'admin_contract_rules' %}active{% endif %}">
                            <a href="{% url "admin_contract_rules" %}">
                                <span class="nav-icon uil uil-user-exclamation"></span>
                                <span class="menu-text">Rules</span>
                            </a>
                        </li>
                        <li class="{% if request.resolver_match.view_name == 'translate' %}active{% endif %}">
                            <a href="{% url "translate" %}">
                                <span class="nav-icon uil uil-language"></span>
                                <span class="menu-text">Translate</span>
                            </a>
                        </li>
                        <li class="{% if request.resolver_match.view_name == 'data_structure_required_fields' %}active{% endif %}">
                            <a href="{% url "data_structure_required_fields" %}">
                                <span class="nav-icon uil uil-analytics"></span>
                                <span class="menu-text">Required Fields</span>
                            </a>
                        </li>
                    {% else %}
                        {% comment %} For Normal User Dashboard  {% endcomment %}
                        <li class="{% if request.resolver_match.view_name == 'contract' %}active{% endif %}">
                            <a href="{% url "contract" %}">
                                <span class="nav-icon uil uil-create-dashboard"></span>
                                <span class="menu-text">Dashboard</span>
                            </a>
                        </li>

                        <li class="{% if request.resolver_match.view_name == 'update_data_structure' %}active{% endif %}">
                            <a href="{% url "update_data_structure" %}">
                                <span class="nav-icon uil uil-columns"></span>
                                <span class="menu-text">Mapping</span>
                            </a>
                        </li>

                    {% endif %}
                    {% if not request.user.is_authenticated %}
                        <li class="{% if request.resolver_match.view_name == 'account_login' %}active{% endif %}">
                            <a href="{% url "account_login" %}">
                                <span class="nav-icon uil uil-signin"></span>
                                <span class="menu-text">Log In</span>
                            </a>
                        </li>

                    {% else %}
                        <li class="{% if request.resolver_match.view_name == 'custom_logout' %}active{% endif %}">
                            <a href="{% url "custom_logout" %}">
                                <span class="nav-icon uil uil-sign-out-alt"></span>
                                <span class="menu-text">Logout </span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="contents">
        <div class="container-fluid">

            {% if messages %}
                <!-- Dismiss All Button -->


                {% for message in messages %}
                    {% if message.tags == "info" or message.tags == 'success' %}

                        <div class="alert
                                    alert-success text-white
                                    p-2 alert-dismissible fade show text-center text-capitalize shadow-sm sentence "
                             role="alert"
                             style="background-color: #1B3F7F;">
                            {{ message }}

                            <button type="button" class="btn-close text-capitalize dismiss-all-button"
                                    data-bs-dismiss="alert"
                                    aria-label="Close">
                                <img src="{% static "img/svg/x.svg" %}" alt="x" class="svg" aria-hidden="true"
                                     style="color: white">
                            </button>
                        </div>
                    {% else %}
                        <div class="alert
                                    alert-success text-white
                                    p-2 alert-dismissible fade show text-center text-capitalize shadow-sm sentence"
                             role="alert"
                             style="background-color: #9D2154">
                            {{ message }}

                            <button type="button" class="btn-close text-capitalize dismiss-all-button"
                                    data-bs-dismiss="alert"
                                    aria-label="Close">
                                <img src="{% static "img/svg/x.svg" %}" alt="x" class="svg" aria-hidden="true">
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <div class="social-dash-wrap">

                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>
</main>
<div id="overlayer">
    <div class="loader-overlay">
        <div class="dm-spin-dots spin-lg">
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
        </div>
    </div>
</div>
<div class="overlay-dark-sidebar"></div>
<div class="customizer-overlay"></div>
{% block script %}

{% endblock %}
<script src="{% static "js/plugins.min.js" %}"></script>
<script src="{% static "js/script.min.js" %}"></script>
<script>
    // Function to get the current date and 100 years from now
    function getDateLimits() {
        var currentDate = new Date();
        var minDate = new Date(currentDate);
        minDate.setFullYear(currentDate.getFullYear() - 100);
        var maxDate = new Date(currentDate);
        maxDate.setFullYear(currentDate.getFullYear() + 100);
        return {currentDate: currentDate, minDate: minDate, maxDate: maxDate};
    }

    // Function to set date limits for a given date input
    function setDateLimits(inputElement) {
        var dateLimits = getDateLimits();
        inputElement.min = dateLimits.minDate.toISOString().slice(0, 10);
        inputElement.max = dateLimits.maxDate.toISOString().slice(0, 10);
    }

    // Apply date limits to all date inputs with 'type="date"'
    var dateInputs = document.querySelectorAll("input[type='date']");
    dateInputs.forEach(function (input) {
        setDateLimits(input);
    });

</script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const dismissAllButton = document.getElementById("dismiss-all-btn");
        const alertElements = document.querySelectorAll(".alert");

        dismissAllButton.addEventListener("click", function () {
            alertElements.forEach(function (alertElement) {
                alertElement.classList.add("d-none");
            });

            dismissAllButton.classList.add("d-none"); // Hide the "Dismiss All" button
        });

        // Check if any alert is visible and show the "Dismiss All" button accordingly
        function checkAlertsVisibility() {
            let visibleAlerts = false;
            alertElements.forEach(function (alertElement) {
                if (!alertElement.classList.contains("d-none")) {
                    visibleAlerts = true;
                }
            });

            if (visibleAlerts) {
                dismissAllButton.classList.remove("d-none");
            } else {
                dismissAllButton.classList.add("d-none");
            }
        }

        // Call the checkAlertsVisibility function initially and on each click event
        checkAlertsVisibility();
        alertElements.forEach(function (alertElement) {
            alertElement.querySelector(".btn-close").addEventListener("click", checkAlertsVisibility);
        });
    });
</script>

<script>
    const ShowLoadingPage = (event, continueLink, processingIndicatorText) => {
        // Prevent the default link behavior (e.g., navigating to a new page)
        event.preventDefault();
        // Get references to the first and second rows by their IDs
        var showRow = document.getElementById("show_row");
        var hideRow = document.getElementById("hide_row");
        var processingIndicatorID = document.getElementById("processingIndicatorText");

        var processingIndicatorShow = hideRow.getElementsByClassName("processing-indicator")[0];

        processingIndicatorShow.style.display = "flex";


        processingIndicatorID.innerHTML = processingIndicatorText;


        console.log("call this link " + continueLink)
        // Hide the first row by setting its display property to "none"
        showRow.style.display = "none";

        // Show the second row by setting its display property to "flex"
        hideRow.style.display = "flex";
        // Continue to the desired page by changing the window location
        window.location.href = continueLink;
    }

    const ShowLoadingPageWithOutLink = (processingIndicatorText) => {

        // Get references to the first and second rows by their IDs
        var showRow = document.getElementById("show_row");
        var hideRow = document.getElementById("hide_row");
        var processingIndicatorID = document.getElementById("processingIndicatorText");
        var processingIndicatorShow = hideRow.getElementsByClassName("processing-indicator")[0];

        processingIndicatorShow.style.display = "flex";

        processingIndicatorID.innerHTML = processingIndicatorText;

        // Hide the first row by setting its display property to "none"
        showRow.style.display = "none";

        // Show the second row by setting its display property to "flex"
        hideRow.style.display = "flex";
        // Continue to the desired page by changing the window location

    }
</script>
</body>

</html>


