{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block css %}
    <style>
        #div_id_user {
            display: none;
        }

        .form-group {
            margin-bottom: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .form-group > * {
            width: 100%;
        }
    </style>
{% endblock %}{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="breadcrumb-main">
                <h4 class="text-capitalize breadcrumb-title">Form</h4>
                <div class="breadcrumb-action justify-content-center flex-wrap">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="uil uil-estate"></i>Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Form</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center">
            <div class="card card-default card-md mb-4" style="width: 90%">
                <div class="card-header">
                    <h6> Mapping</h6>
                </div>
                <div class="card-body">
                    <div class="basic-form-wrapper" style="max-width: 99%">
                        <form action="{% url "update_data_structure" %}" method="post" class="form">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-10 form-basic text-dark" style="font-size: 14px;
                                                                font-weight: 500;">
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-4 fw-bold">
                                            <h3>Description</h3>
                                        </div>
                                        <div class="col-12 col-md-3 mb-4 fw-bold">
                                            <h3>OSCRE<br>table and field</h3>

                                        </div>
                                        <div class="col-12 col-md-3 mb-4 fw-bold">
                                            <h3>Your header</h3>
                                        </div>
                                        <div class="col-12 col-md-3 mb-4 fw-bold">
                                            <h3>Format | Required</h3>

                                        </div>
                                    </div>
                                    <p><b>LEASE</b></p>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Lease ID</div>
                                        <div class="col-12 col-md-3 mb-3"> Lease | LeaseID</div>
                                        <div class="col-12 col-md-3 mb-3">
                                        <span class=" text-796">
                                            <input
                                                    type="text" name="lease_id" value="{{ data_structure.lease_id }}"
                                                    size="40"
                                                    class="form-control text"></span>
                                        </div>
                                        <div class="col-12 col-md-3 mb-3"> VARCHAR | YES</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Lease start date</div>
                                        <div class="col-12 col-md-3 mb-3"> Lease | DateOfLeaseDate</div>
                                        <div class="col-12 col-md-3 mb-3"><span
                                                class=" text-797"><input
                                                type="text" name="lease_start_date"
                                                value="{{ data_structure.lease_start_date }}"
                                                size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> YYYY-MM-DD | YES</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> First day of term date</div>
                                        <div class="col-12 col-md-3 mb-3"> Lease | FirstDayOfTermDate</div>
                                        <div class="col-12 col-md-3 mb-3">
                                        <span class=" text-798"><input
                                                type="text" name="first_day_of_term_date"
                                                value="{{ data_structure.first_day_of_term_date }}"
                                                size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> YYYY-MM-DD | YES</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Last day of term date</div>
                                        <div class="col-12 col-md-3 mb-3"> Lease | LastDayOfTermDate</div>
                                        <div class="col-12 col-md-3 mb-3"><span
                                                class=" text-799"><input
                                                type="text" name="last_day_of_term_date"
                                                value="{{ data_structure.last_day_of_term_date }}" size="40"
                                                class="form-control text valid"></span>
                                        </div>
                                        <div class="col-12 col-md-3 mb-3"> YYYY-MM-DD | if known</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Lease expiration date</div>
                                        <div class="col-12 col-md-3 mb-3"> Lease | ExpirationDate</div>
                                        <div class="col-12 col-md-3 mb-3">
                                        <span class=" text-800"><input
                                                type="text" name="lease_expiration_date"
                                                value="{{ data_structure.lease_expiration_date }}" size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> YYYY-MM-DD | YES</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Rent security</div>
                                        <div class="col-12 col-md-3 mb-3"> RentSecurity | ProvidedAmount</div>
                                        <div class="col-12 col-md-3 mb-3">
                                        <span class=" text-801"><input
                                                type="text" name="rent_security"
                                                value="{{ data_structure.rent_security }}"
                                                size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> INT | if applicable</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Rent security type</div>
                                        <div class="col-12 col-md-3 mb-3"> RentSecurity | SecurityTypeCode</div>
                                        <div class="col-12 col-md-3 mb-3"><span
                                                class=" text-802"><input
                                                type="text" name="rent_security_type"
                                                value="{{ data_structure.rent_security_type }}" size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> VARCHAR | if applicable</div>
                                    </div>
                                    <p><b>TENANT</b></p>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Tenant id</div>
                                        <div class="col-12 col-md-3 mb-3"> Tenant | TenantID</div>
                                        <div class="col-12 col-md-3 mb-3"><span class=" text-803">
                                        <input
                                                type="text" name="tenant_id" value="{{ data_structure.tenant_id }}"
                                                size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> VARCHAR | YES</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Tenant name</div>
                                        <div class="col-12 col-md-3 mb-3"> Tenant | Name</div>
                                        <div class="col-12 col-md-3 mb-3"><span class=" text-804">
                                        <input
                                                type="text" name="tenant_name" value="{{ data_structure.tenant_name }}"
                                                size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> VARCHAR | YES</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Is company</div>
                                        <div class="col-12 col-md-3 mb-3"> Tenant | IsCompany</div>
                                        <div class="col-12 col-md-3 mb-3"><span
                                                class=" text-805"><input
                                                type="text" name="is_company" value="{{ data_structure.is_company }}"
                                                size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> BIT | YES</div>
                                    </div>
                                    <p><b>LEASE OPTION</b></p>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Option from date</div>
                                        <div class="col-12 col-md-3 mb-3"> LeaseOption | FromDate</div>
                                        <div class="col-12 col-md-3 mb-3"><span
                                                class=" text-806"><input
                                                type="text" name="option_from_date"
                                                value="{{ data_structure.option_from_date }}" size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> YYYY-MM-DD | if applicable</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Option to date</div>
                                        <div class="col-12 col-md-3 mb-3"> LeaseOption | ToDate</div>
                                        <div class="col-12 col-md-3 mb-3"><span
                                                class=" text-807"><input
                                                type="text" name="option_to_date"
                                                value="{{ data_structure.option_to_date }}" size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> YYYY-MM-DD | if applicable</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Option type break purchase renew</div>
                                        <div class="col-12 col-md-3 mb-3"> LeaseOption | TypeCode</div>
                                        <div class="col-12 col-md-3 mb-3"><span
                                                class=" text-808"><input
                                                type="text" name="option_type_break_purchase_renew"
                                                value="{{ data_structure.option_type_break_purchase_renew }}"
                                                size="40" class="form-control text"></span>
                                        </div>
                                        <div class="col-12 col-md-3 mb-3"> INT | if applicable</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Option type landlord tenant mutual</div>
                                        <div class="col-12 col-md-3 mb-3"> LeaseOption | OptionByCode</div>
                                        <div class="col-12 col-md-3 mb-3"><span
                                                class=" text-809"><input
                                                type="text" name="option_type_landlord_tenant_mutual"
                                                value="{{ data_structure.option_type_landlord_tenant_mutual }}"
                                                size="40" class="form-control text"></span>
                                        </div>
                                        <div class="col-12 col-md-3 mb-3"> INT | if applicable</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Term</div>
                                        <div class="col-12 col-md-3 mb-3"> LeaseOption | Term</div>
                                        <div class="col-12 col-md-3 mb-3"><span class=" text-810">
                                        <input
                                                type="text" name="term" value="{{ data_structure.term }}" size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> INT | if applicable</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Notice term</div>
                                        <div class="col-12 col-md-3 mb-3"> LeaseOption | NoticeTerm</div>
                                        <div class="col-12 col-md-3 mb-3"><span
                                                class=" text-811"><input
                                                type="text" name="notice_term" value="{{ data_structure.notice_term }}"
                                                size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> INT | if applicable</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Notice term date</div>
                                        <div class="col-12 col-md-3 mb-3"> LeaseOption | NoticeTermDate</div>
                                        <div class="col-12 col-md-3 mb-3"><span
                                                class=" text-812"><input
                                                type="text" name="notice_term_date"
                                                value="{{ data_structure.notice_term_date }}" size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> YYYY-MM-DD | if applicable</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Notice term frequency</div>
                                        <div class="col-12 col-md-3 mb-3"> LeaseOption | TermFrequencyCode</div>
                                        <div class="col-12 col-md-3 mb-3"><span
                                                class=" text-813"><input
                                                type="text" name="notice_term_frequency"
                                                value="{{ data_structure.notice_term_frequency }}" size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> INT | if applicable</div>
                                    </div>
                                    <p><b>UNIT</b></p>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Fund id</div>
                                        <div class="col-12 col-md-3 mb-3"> All tables | FundID</div>
                                        <div class="col-12 col-md-3 mb-3"><span
                                                class=" text-814"><input
                                                type="text" name="fund_id" value="{{ data_structure.fund_id }}"
                                                size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> VARCHAR | YES</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Property id</div>
                                        <div class="col-12 col-md-3 mb-3"> All tables | PropertyID</div>
                                        <div class="col-12 col-md-3 mb-3"><span
                                                class=" text-815"><input
                                                type="text" name="property_id" value="{{ data_structure.property_id }}"
                                                size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> VARCHAR | YES</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Unit id</div>
                                        <div class="col-12 col-md-3 mb-3"> All tables | UnitID</div>
                                        <div class="col-12 col-md-3 mb-3"><span
                                                class=" text-816"><input
                                                type="text" name="unit_id" value="{{ data_structure.unit_id }}"
                                                size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> VARCHAR | YES</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Unit type</div>
                                        <div class="col-12 col-md-3 mb-3"> Unit | UnitType</div>
                                        <div class="col-12 col-md-3 mb-3"><span
                                                class=" text-817"><input
                                                type="text" name="unit_type" value="{{ data_structure.unit_type }}"
                                                size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> VARCHAR | YES</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Gross area</div>
                                        <div class="col-12 col-md-3 mb-3"> Unit | GrossArea</div>
                                        <div class="col-12 col-md-3 mb-3"><span
                                                class=" text-818"><input
                                                type="text" name="gross_area" value="{{ data_structure.gross_area }}"
                                                size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> INT | YES</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Net area</div>
                                        <div class="col-12 col-md-3 mb-3"> Unit | NetArea</div>
                                        <div class="col-12 col-md-3 mb-3"><span
                                                class=" text-819"><input
                                                type="text" name="net_area" value="{{ data_structure.net_area }}"
                                                size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> INT | YES</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Is vacant</div>
                                        <div class="col-12 col-md-3 mb-3"> Unit | Vacant</div>
                                        <div class="col-12 col-md-3 mb-3"><span
                                                class=" text-820"><input
                                                type="text" name="is_vacant" value="{{ data_structure.is_vacant }}"
                                                size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> BIT | YES</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Vacancy reason</div>
                                        <div class="col-12 col-md-3 mb-3"> Unit | VacancyNote</div>
                                        <div class="col-12 col-md-3 mb-3"><span
                                                class=" text-821"><input
                                                type="text" name="vacancy_reason"
                                                value="{{ data_structure.vacancy_reason }}" size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> VARCHAR | required if IsVacant = 1</div>
                                    </div>
                                    <p><b>LEASE CHARGE</b></p>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Income category rent amount</div>
                                        <div class="col-12 col-md-3 mb-3"> LeaseCharge | Amount</div>
                                        <div class="col-12 col-md-3 mb-3"><span
                                                class=" text-822"><input
                                                type="text" name="income_category_rent_amount"
                                                value="{{ data_structure.income_category_rent_amount }}" size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> INT | YES</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Income category service charges amount</div>
                                        <div class="col-12 col-md-3 mb-3"> LeaseCharge | Amount</div>
                                        <div class="col-12 col-md-3 mb-3"><span
                                                class=" text-823"><input
                                                type="text" name="income_category_service_charges_amount"
                                                value="{{ data_structure.income_category_service_charges_amount }}"
                                                size="40" class="form-control text"></span>
                                        </div>
                                        <div class="col-12 col-md-3 mb-3"> INT | if applicable</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Income category others amount</div>
                                        <div class="col-12 col-md-3 mb-3"> LeaseCharge | Amount</div>
                                        <div class="col-12 col-md-3 mb-3"><span
                                                class=" text-824"><input
                                                type="text" name="income_category_others_amount"
                                                value="{{ data_structure.income_category_others_amount }}" size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> INT | if applicable</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Income category discount amount</div>
                                        <div class="col-12 col-md-3 mb-3"> LeaseCharge | Amount</div>
                                        <div class="col-12 col-md-3 mb-3"><span
                                                class=" text-825"><input
                                                type="text" name="income_category_discount_amount"
                                                value="{{ data_structure.income_category_discount_amount }}"
                                                size="40" class="form-control text"></span>
                                        </div>
                                        <div class="col-12 col-md-3 mb-3"> INT | if applicable</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Term frequency</div>
                                        <div class="col-12 col-md-3 mb-3"> LeaseCharge | TermFrequency</div>
                                        <div class="col-12 col-md-3 mb-3"><span
                                                class=" text-826"><input
                                                type="text" name="term_frequency"
                                                value="{{ data_structure.term_frequency }}" size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> INT | YES</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Charge frequency</div>
                                        <div class="col-12 col-md-3 mb-3"> LeaseCharge | ChargeFrequency</div>
                                        <div class="col-12 col-md-3 mb-3"><span
                                                class=" text-827"><input
                                                type="text" name="charge_frequency"
                                                value="{{ data_structure.charge_frequency }}" size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> INT | YES</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Value added tax</div>
                                        <div class="col-12 col-md-3 mb-3"> LeaseCharge | VATCode</div>
                                        <div class="col-12 col-md-3 mb-3"><span
                                                class=" text-828"><input
                                                type="text" name="value_added_tax"
                                                value="{{ data_structure.value_added_tax }}" size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> BIT | YES</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Value added tax rate</div>
                                        <div class="col-12 col-md-3 mb-3"> LeaseCharge | VATRate</div>
                                        <div class="col-12 col-md-3 mb-3"><span
                                                class=" text-829"><input
                                                type="text" name="value_added_tax_rate"
                                                value="{{ data_structure.value_added_tax_rate }}" size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> INT | YES</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Start payment schedule</div>
                                        <div class="col-12 col-md-3 mb-3"> LeaseCharge | StartPaymentSchedule</div>
                                        <div class="col-12 col-md-3 mb-3"><span class=" "><input
                                                type="text" name="start_payment_schedule"
                                                value="{{ data_structure.start_payment_schedule }}" size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> YYYY-MM-DD | YES</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> End payment schedule</div>
                                        <div class="col-12 col-md-3 mb-3"> LeaseCharge | EndPaymentSchedule</div>
                                        <div class="col-12 col-md-3 mb-3"><span class=" "><input
                                                type="text" name="end_payment_schedule"
                                                value="{{ data_structure.end_payment_schedule }}" size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> YYYY-MM-DD | if known</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Currency</div>
                                        <div class="col-12 col-md-3 mb-3"> LeaseCharge | CurrencyCode</div>
                                        <div class="col-12 col-md-3 mb-3"><span class=" "><input
                                                type="text" name="currency" value="{{ data_structure.currency }}"
                                                size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> VARCHAR | YES</div>
                                    </div>
                                    <p><b>INDEXATION</b></p>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Index series</div>
                                        <div class="col-12 col-md-3 mb-3"> Indexation | IndexSeries</div>
                                        <div class="col-12 col-md-3 mb-3"><span class=" "><input
                                                type="text" name="index_series"
                                                value="{{ data_structure.index_series }}"
                                                size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> VARCHAR | if applicable</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Index type</div>
                                        <div class="col-12 col-md-3 mb-3"> Indexation | IndexType</div>
                                        <div class="col-12 col-md-3 mb-3"><span class=" "><input
                                                type="text" name="index_type" value="{{ data_structure.index_type }}"
                                                size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> VARCHAR | if applicable</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Start date</div>
                                        <div class="col-12 col-md-3 mb-3"> Indexation | StartDate</div>
                                        <div class="col-12 col-md-3 mb-3"><span class=" "><input
                                                type="text" name="start_date" value="{{ data_structure.start_date }}"
                                                size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> YYYY-MM-DD | if applicable</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Index frequency</div>
                                        <div class="col-12 col-md-3 mb-3"> Indexation | IndexFrequency</div>
                                        <div class="col-12 col-md-3 mb-3"><span class=" "><input
                                                type="text" name="index_frequency"
                                                value="{{ data_structure.index_frequency }}" size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> INT | if applicable</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Index date</div>
                                        <div class="col-12 col-md-3 mb-3"> Indexation | IndexDate</div>
                                        <div class="col-12 col-md-3 mb-3"><span class=" "><input
                                                type="text" name="index_date" value="{{ data_structure.index_date }}"
                                                size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> YYYY-MM-DD | if applicable</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Index value</div>
                                        <div class="col-12 col-md-3 mb-3"> Indexation | Value</div>
                                        <div class="col-12 col-md-3 mb-3"><span class=" "><input
                                                type="text" name="index_value" value="{{ data_structure.index_value }}"
                                                size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> INT | if applicable</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Next index date</div>
                                        <div class="col-12 col-md-3 mb-3"> Indexation | Value</div>
                                        <div class="col-12 col-md-3 mb-3"><span class=" "><input
                                                type="text" name="next_index_date"
                                                value="{{ data_structure.next_index_date }}"
                                                size="40"
                                                class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> YYYY-MM-DD | if applicable</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-3"> Next index value</div>
                                        <div class="col-12 col-md-3 mb-3"> Indexation | IndexDate</div>
                                        <div class="col-12 col-md-3 mb-3">
                                            <span
                                                    class=" "><input
                                                    type="text" name="next_index_value"
                                                    value="{{ data_structure.next_index_value }}"
                                                    size="40"
                                                    class="form-control text"></span></div>
                                        <div class="col-12 col-md-3 mb-3"> INT | if applicable</div>
                                    </div>


                                </div>
                                <div class="col-2">
                                    <button class="btn btn-primary"
                                            style="position: fixed;bottom: 100px;z-index: 9999;width: 10%"
                                    >Save
                                    </button>
                                </div>
                            </div>


                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
<form action="{% url "update_data_structure" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-basic">
        {% for field in form %}
            {% if field.name != "user" %}
                <div class="form-group">
                    {{ field|as_crispy_field }}
                </div>                                    {% endif %}
        {% endfor %}
        <div class="form-group mb-0">
            <button type="submit" class="btn btn-lg btn-primary btn-submit">Create</button>
        </div>
    </div>
</form>
