{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block css %}
    <style>
        #div_id_user {
            display: none;
        }

        .form-group {
            margin-bottom: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .form-group > * {
            width: 100%;
        }

        .table-container {
            height: 75vh; /* Set the desired height */
            overflow-y: scroll; /* Enable vertical scrolling */
            scrollbar-width: thin; /* Set the width of the scrollbar */
            scrollbar-color: #888888 #f0f0f0; /* Set the color of the scrollbar */
        }


    </style>

{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="breadcrumb-main">
                <h4 class="text-capitalize breadcrumb-title">Mapping</h4>
                <div class="breadcrumb-action justify-content-center flex-wrap">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url "admin_dashboard" %}"><i
                                    class="uil uil-estate"></i>Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">mapping</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class=" p-4 ml-3">
                <p>In order to report properly, we conform to the OSCRE Industry Data Model. OSCRE is the international
                    standard for corporate real estate and real estate investment.
                    To make sure your values end up in the right places, we need to map your columns to the database
                    standard.
                    Type the header of your upload in the appropriate boxes. You can overwrite the suggested column
                    names.
                </p>

                <strong style="font-weight: bolder ;"> Important notes:</strong>
                <ul style="list-style: circle;">
                    <li>Your upload must be in Excel format and have the .xlsx or .csv extension</li>
                    <li>In case of .xlsx, your workbook can only have 1 sheet</li>
                    <li>Your upload must have 1 header row</li>
                    <li>The format of your upload must be consistent; If the format of your upload changes, you will
                        need to
                        adjust
                        the mapping here.
                    </li>
                    <li>Feel free to reach out and we will send you an Excel template with explanations.</li>
                </ul>

            </div>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center">
            <div class="card card-default card-md mb-4">

                <div class="card-body">
                    <div class="basic-form-wrapper" style="max-width: 99%">
                        <form action="{% url "update_data_structure" %}" method="post" class="form">
                            {% csrf_token %}

                            <div class=" table-container">
                                <table class="table table-bordered table-social">
                                    <thead>
                                    <tr class="userDatatable-header">
                                        <th>
                                            <span class="userDatatable-title "
                                                  style="font-weight: bolder;font-size: 20px">Table</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title"
                                                  style="font-weight: bolder;font-size: 20px;min-width: 100px">Description</span>
                                        </th>

                                        <th>
                                            <span class="userDatatable-title"
                                                  style="font-weight: bolder;font-size: 20px;min-width: 300px">Oscre Table And
                                                Header</span>

                                        </th>
                                        <th>
                                            <span class="userDatatable-title"
                                                  style="font-weight: bolder;font-size: 20px;min-width: 200px">Your Header</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title"
                                                  style="font-weight: bolder;font-size: 20px">Format</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title"
                                                  style="font-weight: bolder;font-size: 20px">Required</span>
                                        </th>

                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr>
                                        <td><p><b>LEASE</b></p></td>

                                        <td style="min-width:150px"> Lease ID</td>
                                        <td style="min-width:150px"> Lease | LeaseID</td>
                                        <td style="min-width:150px">

                                            <input
                                                    type="text" name="lease_id" value="{{ data_structure.lease_id }}"
                                                    size="40"
                                                    class="form-control text">
                                        </td>
                                        <td style="min-width:150px"> VARCHAR</td>
                                        <td style="min-width:150px">YES</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Lease start date</td>
                                        <td style="min-width:150px"> Lease | DateOfLeaseDate</td>
                                        <td style="min-width:150px"><input
                                                type="text" name="date_of_lease_date"
                                                value="{{ data_structure.date_of_lease_date }}"
                                                size="40"
                                                class="form-control text"></td>
                                        <td style="min-width:150px"> YYYY-MM-DD</td>
                                        <td style="min-width:150px">YES</td>
                                    </tr>

                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> First day of term date</td>
                                        <td style="min-width:150px"> Lease | FirstDayOfTermDate</td>
                                        <td style="min-width:150px">
                                            <input
                                                    type="text" name="first_day_of_term_date"
                                                    value="{{ data_structure.first_day_of_term_date }}"
                                                    size="40"
                                                    class="form-control text"></td>
                                        <td style="min-width:150px"> YYYY-MM-DD</td>
                                        <td style="min-width:150px">YES</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Last day of term date</td>
                                        <td style="min-width:150px"> Lease | LastDayOfTermDate</td>
                                        <td style="min-width:150px"><input
                                                type="text" name="last_day_of_term_date"
                                                value="{{ data_structure.last_day_of_term_date }}" size="40"
                                                class="form-control text valid">
                                        </td>
                                        <td style="min-width:150px"> YYYY-MM-DD</td>
                                        <td style="min-width: 150px">if known</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Lease expiration date</td>
                                        <td style="min-width:150px"> Lease | ExpirationDate</td>
                                        <td style="min-width:150px">
                                            <input
                                                    type="text" name="lease_expiration_date"
                                                    value="{{ data_structure.lease_expiration_date }}" size="40"
                                                    class="form-control text"></td>
                                        <td style="min-width:150px"> YYYY-MM-DD</td>
                                        <td style="min-width:150px">YES</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Rent security</td>
                                        <td style="min-width:150px"> RentSecurity | ProvidedAmount</td>
                                        <td style="min-width:150px">
                                            <input
                                                    type="text" name="required_amount"
                                                    value="{{ data_structure.required_amount }}"
                                                    size="40"
                                                    class="form-control text"></td>
                                        <td style="min-width:150px"> INT</td>
                                        <td style="min-width: 150px">if applicable</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Rent security type</td>
                                        <td style="min-width:150px"> RentSecurity | SecurityTypeCode</td>
                                        <td style="min-width:150px"><input
                                                type="text" name="security_type_code"
                                                value="{{ data_structure.security_type_code }}" size="40"
                                                class="form-control text"></td>
                                        <td style="min-width:150px"> VARCHAR</td>
                                        <td style="min-width: 150px">if applicable</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <p><b>TENANT</b></p>
                                        </td>
                                        <td style="min-width:150px"> Tenant id</td>
                                        <td style="min-width:150px"> Tenant | TenantID</td>
                                        <td style="min-width:150px">
                                            <input
                                                    type="text" name="tenant_id" value="{{ data_structure.tenant_id }}"
                                                    size="40"
                                                    class="form-control text"></td>
                                        <td style="min-width:150px"> VARCHAR</td>
                                        <td style="min-width:150px">YES</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Tenant name</td>
                                        <td style="min-width:150px"> Tenant | Name</td>
                                        <td style="min-width:150px">
                                            <input
                                                    type="text" name="tenant_name"
                                                    value="{{ data_structure.tenant_name }}"
                                                    size="40"
                                                    class="form-control text"></td>
                                        <td style="min-width:150px"> VARCHAR</td>
                                        <td style="min-width:150px">YES</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Is company</td>
                                        <td style="min-width:150px"> Tenant | IsCompany</td>
                                        <td style="min-width:150px"><input
                                                type="text" name="is_company"
                                                value="{{ data_structure.is_company }}"
                                                size="40"
                                                class="form-control text"></td>
                                        <td style="min-width:150px"> BIT</td>
                                        <td style="min-width:150px">YES</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <p><b>LEASE OPTION</b></p>
                                        </td>
                                        <td style="min-width:150px"> Option from date</td>
                                        <td style="min-width:150px"> LeaseOption | FromDate</td>
                                        <td style="min-width:150px"><input
                                                type="text" name="from_date"
                                                value="{{ data_structure.from_date }}" size="40"
                                                class="form-control text"></td>
                                        <td style="min-width:150px"> YYYY-MM-DD</td>
                                        <td style="min-width: 150px">if applicable</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Option to date</td>
                                        <td style="min-width:150px"> LeaseOption | ToDate</td>
                                        <td style="min-width:150px"><input
                                                type="text" name="to_date"
                                                value="{{ data_structure.to_date }}" size="40"
                                                class="form-control text"></td>
                                        <td style="min-width:150px"> YYYY-MM-DD</td>
                                        <td style="min-width: 150px">if applicable</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Option type break purchase renew</td>
                                        <td style="min-width:150px"> LeaseOption | TypeCode</td>
                                        <td style="min-width:150px"><input
                                                type="text" name="type_code"
                                                value="{{ data_structure.type_code }}"
                                                size="40" class="form-control text">
                                        </td>
                                        <td style="min-width:150px"> INT</td>
                                        <td style="min-width: 150px">if applicable</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Option type landlord tenant mutual</td>
                                        <td style="min-width:150px"> LeaseOption | OptionByCode</td>
                                        <td style="min-width:150px"><input
                                                type="text" name="option_by_code"
                                                value="{{ data_structure.option_by_code }}"
                                                size="40" class="form-control text">
                                        </td>
                                        <td style="min-width:150px"> INT</td>
                                        <td style="min-width: 150px">if applicable</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Term</td>
                                        <td style="min-width:150px"> LeaseOption | Term</td>
                                        <td style="min-width:150px">
                                            <input
                                                    type="text" name="term" value="{{ data_structure.term }}" size="40"
                                                    class="form-control text"></td>
                                        <td style="min-width:150px"> INT</td>
                                        <td style="min-width: 150px">if applicable</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Notice term</td>
                                        <td style="min-width:150px"> LeaseOption | NoticeTerm</td>
                                        <td style="min-width:150px"><input
                                                type="text" name="notice_term"
                                                value="{{ data_structure.notice_term }}"
                                                size="40"
                                                class="form-control text"></td>
                                        <td style="min-width:150px"> INT</td>
                                        <td style="min-width: 150px">if applicable</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Notice term date</td>
                                        <td style="min-width:150px"> LeaseOption | NoticeTermDate</td>
                                        <td style="min-width:150px"><input
                                                type="text" name="notice_term_date"
                                                value="{{ data_structure.notice_term_date }}" size="40"
                                                class="form-control text"></td>
                                        <td style="min-width:150px"> YYYY-MM-DD</td>
                                        <td style="min-width: 150px">if applicable</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Notice term frequency</td>
                                        <td style="min-width:150px"> LeaseOption | TermFrequencyCode</td>
                                        <td style="min-width:150px"><input
                                                type="text" name="term_frequency"
                                                value="{{ data_structure.term_frequency }}" size="40"
                                                class="form-control text"></td>
                                        <td style="min-width:150px"> INT</td>
                                        <td style="min-width: 150px">if applicable</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <p><b>UNIT</b></p>
                                        </td>
                                        <td style="min-width:150px"> Fund id</td>
                                        <td style="min-width:150px"> All tables | FundID</td>
                                        <td style="min-width:150px"><input
                                                type="text" name="fund_id" value="{{ data_structure.fund_id }}"
                                                size="40"
                                                class="form-control text"></td>
                                        <td style="min-width:150px"> VARCHAR</td>
                                        <td style="min-width:150px">YES</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Property id</td>
                                        <td style="min-width:150px"> All tables | PropertyID</td>
                                        <td style="min-width:150px"><input
                                                type="text" name="property_id"
                                                value="{{ data_structure.property_id }}"
                                                size="40"
                                                class="form-control text"></td>
                                        <td style="min-width:150px"> VARCHAR</td>
                                        <td style="min-width:150px">YES</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Unit id</td>
                                        <td style="min-width:150px"> All tables | UnitID</td>
                                        <td style="min-width:150px"><input
                                                type="text" name="unit_id" value="{{ data_structure.unit_id }}"
                                                size="40"
                                                class="form-control text"></td>
                                        <td style="min-width:150px"> VARCHAR</td>
                                        <td style="min-width:150px">YES</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Unit type</td>
                                        <td style="min-width:150px"> Unit | UnitType</td>
                                        <td style="min-width:150px"><input
                                                type="text" name="unit_type" value="{{ data_structure.unit_type }}"
                                                size="40"
                                                class="form-control text"></td>
                                        <td style="min-width:150px"> VARCHAR</td>
                                        <td style="min-width:150px">YES</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Gross area</td>
                                        <td style="min-width:150px"> Unit | GrossArea</td>
                                        <td style="min-width:150px"><input
                                                type="text" name="gross_area"
                                                value="{{ data_structure.gross_area }}"
                                                size="40"
                                                class="form-control text"></td>
                                        <td style="min-width:150px"> INT</td>
                                        <td style="min-width:150px">YES</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Net area</td>
                                        <td style="min-width:150px"> Unit | NetArea</td>
                                        <td style="min-width:150px"><input
                                                type="text" name="net_area" value="{{ data_structure.net_area }}"
                                                size="40"
                                                class="form-control text"></td>
                                        <td style="min-width:150px"> INT</td>
                                        <td style="min-width:150px">YES</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Is vacant</td>
                                        <td style="min-width:150px"> Unit | Vacant</td>
                                        <td style="min-width:150px"><input
                                                type="text" name="vacant" value="{{ data_structure.vacant }}"
                                                size="40"
                                                class="form-control text"></td>
                                        <td style="min-width:150px"> BIT</td>
                                        <td style="min-width:150px">YES</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Vacancy reason</td>
                                        <td style="min-width:150px"> Unit | VacancyNote</td>
                                        <td style="min-width:150px"><input
                                                type="text" name="vacancy_note"
                                                value="{{ data_structure.vacancy_note }}" size="40"
                                                class="form-control text"></td>
                                        <td style="min-width:150px"> VARCHAR</td>
                                        <td style="min-width: 150px">required if IsVacant = 1</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <p><b>LEASE CHARGE</b></p>
                                        </td>
                                        <td style="min-width:150px"> Income category rent amount</td>
                                        <td style="min-width:150px"> LeaseCharge | Amount</td>
                                        <td style="min-width:150px"><input
                                                type="text" name="amount_rent"
                                                value="{{ data_structure.amount_rent }}" size="40"
                                                class="form-control text"></td>
                                        <td style="min-width:150px"> INT</td>
                                        <td style="min-width:150px">YES</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Income category service charges amount</td>
                                        <td style="min-width:150px"> LeaseCharge | Amount</td>
                                        <td style="min-width:150px"><input
                                                type="text" name="amount_service_charge"
                                                value="{{ data_structure.amount_service_charge }}"
                                                size="40" class="form-control text">
                                        </td>
                                        <td style="min-width:150px"> INT</td>
                                        <td style="min-width: 150px">if applicable</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Income category others amount</td>
                                        <td style="min-width:150px"> LeaseCharge | Amount</td>
                                        <td style="min-width:150px"><input
                                                type="text" name="amount_others"
                                                value="{{ data_structure.amount_others }}" size="40"
                                                class="form-control text"></td>
                                        <td style="min-width:150px"> INT</td>
                                        <td style="min-width: 150px">if applicable</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Income category discount amount</td>
                                        <td style="min-width:150px"> LeaseCharge | Amount</td>
                                        <td style="min-width:150px"><input
                                                type="text" name="amount_discount"
                                                value="{{ data_structure.amount_discount }}"
                                                size="40" class="form-control text">
                                        </td>
                                        <td style="min-width:150px"> INT</td>
                                        <td style="min-width: 150px">if applicable</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Term frequency</td>
                                        <td style="min-width:150px"> LeaseCharge | TermFrequency</td>
                                        <td style="min-width:150px"><input
                                                type="text" name="term_frequency"
                                                value="{{ data_structure.term_frequency }}" size="40"
                                                class="form-control text"></td>
                                        <td style="min-width:150px"> INT</td>
                                        <td style="min-width:150px">YES</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Charge frequency</td>
                                        <td style="min-width:150px"> LeaseCharge | ChargeFrequency</td>
                                        <td style="min-width:150px"><input
                                                type="text" name="charge_frequency"
                                                value="{{ data_structure.charge_frequency }}" size="40"
                                                class="form-control text"></td>
                                        <td style="min-width:150px"> INT</td>
                                        <td style="min-width:150px">YES</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Value added tax</td>
                                        <td style="min-width:150px"> LeaseCharge | VATCode</td>
                                        <td style="min-width:150px"><input
                                                type="text" name="vat_code"
                                                value="{{ data_structure.vat_code }}" size="40"
                                                class="form-control text"></td>
                                        <td style="min-width:150px"> BIT</td>
                                        <td style="min-width:150px">YES</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Value added tax rate</td>
                                        <td style="min-width:150px"> LeaseCharge | VATRate</td>
                                        <td style="min-width:150px"><input
                                                type="text" name="vat_rate"
                                                value="{{ data_structure.vat_rate }}" size="40"
                                                class="form-control text"></td>
                                        <td style="min-width:150px"> INT</td>
                                        <td style="min-width:150px">YES</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Value added tax Amount</td>
                                        <td style="min-width:150px"> LeaseCharge | VATAmount</td>
                                        <td style="min-width:150px"><input
                                                type="text" name="vat_amount"
                                                value="{{ data_structure.vat_amount }}" size="40"
                                                class="form-control text"></td>
                                        <td style="min-width:150px"> INT</td>
                                        <td style="min-width:150px">YES</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Start payment schedule</td>
                                        <td style="min-width:150px"> LeaseCharge | StartPaymentSchedule</td>
                                        <td style="min-width:150px"><input type="text" name="start_payment_schedule"
                                                                           value="{{ data_structure.start_payment_schedule }}"
                                                                           size="40"
                                                                           class="form-control text">
                                        </td>
                                        <td style="min-width:150px"> YYYY-MM-DD</td>
                                        <td style="min-width:150px">YES</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> End payment schedule</td>
                                        <td style="min-width:150px"> LeaseCharge | EndPaymentSchedule</td>
                                        <td style="min-width:150px"><input type="text" name="end_payment_schedule"
                                                                           value="{{ data_structure.end_payment_schedule }}"
                                                                           size="40"
                                                                           class="form-control text">
                                        </td>
                                        <td style="min-width:150px"> YYYY-MM-DD</td>
                                        <td style="min-width: 150px">if known</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Currency</td>
                                        <td style="min-width:150px"> LeaseCharge | CurrencyCode</td>
                                        <td style="min-width:150px"><input type="text" name="currency_code"
                                                                           value="{{ data_structure.currency_code }}"
                                                                           size="40"
                                                                           class="form-control text">
                                        </td>
                                        <td style="min-width:150px"> VARCHAR</td>
                                        <td style="min-width:150px">YES</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <p><b>INDEXATION</b></p>
                                        </td>
                                        <td style="min-width:150px"> Index series</td>
                                        <td style="min-width:150px"> Indexation | IndexSeries</td>
                                        <td style="min-width:150px"><input type="text" name="index_series"
                                                                           value="{{ data_structure.index_series }}"
                                                                           size="40"
                                                                           class="form-control text">
                                        </td>
                                        <td style="min-width:150px"> VARCHAR</td>
                                        <td style="min-width: 150px">if applicable</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Index type</td>
                                        <td style="min-width:150px"> Indexation | IndexType</td>
                                        <td style="min-width:150px"><input type="text" name="index_type"
                                                                           value="{{ data_structure.index_type }}"
                                                                           size="40"
                                                                           class="form-control text">
                                        </td>
                                        <td style="min-width:150px"> VARCHAR</td>
                                        <td style="min-width: 150px">if applicable</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Start date</td>
                                        <td style="min-width:150px"> Indexation | StartDate</td>
                                        <td style="min-width:150px"><input type="text" name="start_date"
                                                                           value="{{ data_structure.start_date }}"
                                                                           size="40"
                                                                           class="form-control text">
                                        </td>
                                        <td style="min-width:150px"> YYYY-MM-DD</td>
                                        <td style="min-width: 150px">if applicable</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Index frequency</td>
                                        <td style="min-width:150px"> Indexation | IndexFrequency</td>
                                        <td style="min-width:150px"><input type="text" name="index_frequency"
                                                                           value="{{ data_structure.index_frequency }}"
                                                                           size="40"
                                                                           class="form-control text">
                                        </td>
                                        <td style="min-width:150px"> INT</td>
                                        <td style="min-width: 150px">if applicable</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Index date</td>
                                        <td style="min-width:150px"> Indexation | IndexDate</td>
                                        <td style="min-width:150px"><input type="text" name="index_date"
                                                                           value="{{ data_structure.index_date }}"
                                                                           size="40"
                                                                           class="form-control text">
                                        </td>
                                        <td style="min-width:150px"> YYYY-MM-DD</td>
                                        <td style="min-width: 150px">if applicable</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Index value</td>
                                        <td style="min-width:150px"> Indexation | Value</td>
                                        <td style="min-width:150px"><input type="text" name="value"
                                                                           value="{{ data_structure.value }}"
                                                                           size="40"
                                                                           class="form-control text">
                                        </td>
                                        <td style="min-width:150px"> INT</td>
                                        <td style="min-width: 150px">if applicable</td>
                                    </tr>
                                    <tr>
                                        <td></td>

                                        <td style="min-width:150px"> Next index date</td>
                                        <td style="min-width:150px"> Indexation | Value</td>
                                        <td style="min-width:150px"><input type="text" name="value_sr2"
                                                                           value="{{ data_structure.value_sr2 }}"
                                                                           size="40"
                                                                           class="form-control text">
                                        </td>
                                        <td style="min-width:150px"> INT</td>
                                        <td style="min-width: 150px">if applicable</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td style="min-width:150px"> Next index value</td>
                                        <td style="min-width:150px"> Indexation | IndexDate</td>
                                        <td style="min-width:150px">
                                            <input type="text" name="index_date_sr2"
                                                   value="{{ data_structure.index_date_sr2 }}"
                                                   size="40"
                                                   class="form-control text">
                                        </td>
                                        <td style="min-width:150px"> YYYY-MM-DD</td>
                                        <td style="min-width: 150px">if applicable</td>
                                    </tr>


                                    </tbody>
                                </table>
                            </div>
                            <button class="btn btn-primary" id="updateButton"
                                    style="position: fixed;bottom: 20px;right: 40px;z-index: 9999;"
                            >Update
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
