{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load custom_filters %}

{% block css %}
    <style>

        .table-container {
            height: auto; /* Set the desired height */
            overflow-y: scroll; /* Enable vertical scrolling */
            scrollbar-width: thin; /* Set the width of the scrollbar */
            scrollbar-color: #888888 #f0f0f0; /* Set the color of the scrollbar */
        }


        /* Default style - hide the content */
        #content {
            display: none;
        }

        #secondContent {
            display: block;
        }


        /* Show the content when the screen resolution is 1920x1080 */
        @media (min-width: 1919px) {
            #content {
                display: block;
            }

            #secondContent {
                display: none;
            }
        }


        {% comment %} from 1900 above it applies{% endcomment %}
        @media (min-width: 1919px) {
            .table-container {
                height: auto; /* Set the desired height (1080 - 17px for scrollbar) */
                overflow-y: hidden !important; /* Enable vertical scrolling only when necessary */
                overflow-x: hidden !important; /* Hide horizontal scrolling when not necessary */
                scrollbar-width: none !important; /* Set the width of the scrollbar */
                scrollbar-color: #888888 #f0f0f0; /* Set the color of the scrollbar */
                -ms-overflow-style: none; /* Microsoft Edge scrollbar styling */
            }

            body {
                overflow: hidden !important;
                height: 100% !important;
            }
        }


    </style>
{% endblock %}

{% block content %}

    <div class="row custom_height" id="show_row">

        <div id="content" class="col-12 my-5">
            <div class="card">
                <div class="card-header color-dark fw-500">
                    New Upload
                </div>

                <div class="card-body p-0">
                    <form action="{% url "upload_data" %}" method="post" enctype="multipart/form-data"
                          id="myForm" class="myForm" onsubmit="SubmitUploadForm()">
                        {% csrf_token %}
                        <input class="form-control form-control-lg clone_file" type="file" name="clone_file"
                               style="display: none;">
                        <div class="row px-3 mx-auto">
                            <div class="col-12 col-md-4 form-group mb-md-5 mt-2">
                                <label>Rent roll file</label>
                                <input class="form-control form-control-lg property_file" type="file"
                                       name="property_file"
                                       onchange="syncFileInputs()"
                                >
                            </div>

                            <div class="col-12 col-md-4 form-group mb-md-5 mt-2">
                                <label>Rent roll name</label>
                                <input class="form-control form-control-lg rental_name" type="text" name="name"
                                       placeholder="Rent roll name">
                            </div>

                            <div class="col-12 col-md-4 form-group  mb-md-5  mt-2">
                                <label>{{ "" }}</label>
                                <button type="submit" id="submitButton"
                                        class="btn btn-lg btn-danger btn-submit submitButton"
                                        style="background-color:#9D2154">
                                    Upload
                                </button>
                            </div>

                        </div>
                    </form>


                </div>
            </div>
        </div>
        <div id="" class="col-12">
            <div class="card">
                <div class="card-header color-dark fw-500">
                    <div class="d-flex justify-content-between align-items-center " style="width: 100%">
                        <div class="">Uploads</div>
                        <div class="d-flex justify-content-end ">
                            <nav class="dm-page ">
                                <ul class="dm-pagination d-flex">
                                    {% if is_paginated %}
                                        <li class="dm-pagination__item">
                                            {% if page_obj.has_previous %}
                                                <a href="{% paginate_url page_obj.previous_page_number 'page' request.GET.urlencode %}"
                                                   class="dm-pagination__link pagination-control"><span
                                                        class="la la-angle-left"></span></a>
                                            {% else %}
                                                <a href="#" class="dm-pagination__link pagination-control"><span
                                                        class="la la-angle-left"></span></a>
                                            {% endif %}
                                            {% get_proper_elided_page_range paginator page_obj.number as page_range %}
                                            {% for i in page_range %}
                                                {% if page_obj.number == i %}
                                                    <a href="#" class="dm-pagination__link active"><span
                                                            class="page-number">{{ i }}</span></a>
                                                {% else %}
                                                    <a href="{% paginate_url i 'page' request.GET.urlencode %}"
                                                       class="dm-pagination__link"><span
                                                            class="page-number">{{ i }}</span></a>
                                                {% endif %}
                                            {% endfor %}
                                            {% if page_obj.has_next %}
                                                <a href="{% paginate_url page_obj.next_page_number 'page' request.GET.urlencode %}"
                                                   class="dm-pagination__link pagination-control"><span
                                                        class="la la-angle-right"></span></a>
                                            {% else %}
                                                <a href="#" class="dm-pagination__link pagination-control"><span
                                                        class="la la-angle-right"></span></a>

                                            {% endif %}
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>


                </div>

                <div class="card-body p-0">
                    <div class="table4 p-25 mb-30 table-container">
                        <div class="table-container">
                            <table class="table mb-0">
                                <thead>
                                <tr class="userDatatable-header">
                                    <th>
                                        <span class="userDatatable-title">Counter</span>
                                    </th>
                                    <th>
                                        <span class="userDatatable-title">Name</span>
                                    </th>

                                    <th>
                                        <span class="userDatatable-title">Status</span>
                                    </th>
                                    <th>
                                        <span class="userDatatable-title">Timestamp</span>
                                    </th>
                                    <th>
                                        <span class="userDatatable-title">Rows</span>
                                    </th>
                                    <th>
                                        <span class="userDatatable-title">Action</span>
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for item in contracts %}
                                    <tr>
                                        <td>
                                            <div class="userDatatable-content">
                                                <a href="{% url "contract_detail" item.id %}"
                                                > {{ forloop.counter }}</a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                <a href="{% url "contract_detail" item.id %}"

                                                >{{ item.name }}</a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                {% if item.status == "SUCCESS" %}
                                                    <h4 class="badge  badge-dot--big"
                                                        style="background-color: #1B3F7F; border-radius: 2px; width: 70px">{{ item.status }}
                                                    </h4>
                                                {% else %}
                                                    <h4 class="badge  badge-dot--big"
                                                        style="background-color: #9D2154; border-radius: 2px; width: 70px">{{ item.status }}
                                                    </h4>
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                {{ item.timestamp }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                {{ item.management_set.count }}
                                            </div>
                                        </td>
                                        <td
                                                class="d-flex ">

                                            <form action="{% url 'contract_delete' %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" value="{{ item.id }}"
                                                       name="contract_id">

                                                <button type="submit"
                                                        style="border: none; background: none; padding: 0;">
                                                    <i class="uil uil-trash-alt" style="color: #9D2154;"></i>
                                                </button>

                                            </form>
                                            <a href="{% url "contract_update" item.id %}"
                                               class=" px-2" style="box-shadow: none;"
                                               onclick="ShowLoadingPage(event,
                                                       '{% url "contract_update" item.id %}',
                                                       'The data is being retrieved. Depending on the number of lines, this may take a while.'
                                                       )">

                                                <i class="uil uil-edit " style="color: #1B3F7F;"></i>
                                            </a>
                                            <a href="{% url "contract_download" item.id %}"
                                               class=" " style="box-shadow: none;">

                                                <i class="uil uil-file-download" style="color: #1B3F7F"></i>
                                            </a>

                                        </td>

                                    </tr>

                                {% endfor %}


                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="secondContent" class="col-12 my-5">
            <div class="card">
                <div class="card-header color-dark fw-500">
                    New Upload
                </div>

                <div class="card-body p-0">
                    <form action="{% url "upload_data" %}" method="post" enctype="multipart/form-data"
                          id="myForm" class="myForm" onsubmit="SubmitUploadForm()">
                        {% csrf_token %}
                        <input class="form-control form-control-lg clone_file" type="file" name="clone_file"
                               id="clone_file2"
                               style="display: none;">
                        <div class="row px-3 mx-auto">
                            <div class="col-12 col-md-4 form-group mb-md-5 mt-2">
                                <label>Rent roll file</label>
                                <input class="form-control form-control-lg property_file" type="file"
                                       name="property_file" id="property_file2"
                                       onchange="syncFileInputs2()"
                                >
                            </div>

                            <div class="col-12 col-md-4 form-group mb-md-5 mt-2">
                                <label>Rent roll name</label>
                                <input class="form-control form-control-lg rental_name" type="text" name="name"
                                       id="name2"
                                       placeholder="Rent roll name">
                            </div>

                            <div class="col-12 col-md-4 form-group  mb-md-5  mt-2">
                                <label>{{ "" }}</label>
                                <button type="submit" id="submitButton"
                                        class="btn btn-lg btn-danger btn-submit submitButton"
                                        style="background-color:#9D2154">
                                    Upload
                                </button>
                            </div>

                        </div>
                    </form>


                </div>
            </div>
        </div>

    </div>
    <div class="row" id="hide_row">
        <div id="processingIndicator" class="processing-indicator">
            <img src="{% static "img/spinner.gif" %}" alt="Loading..."/>
            <div id="processingIndicatorText"></div>
        </div>
    </div>
{% endblock %}




{% block script %}
    <script>
        {% comment %} This is used to sync the files  by making a clone . The reason why i did it this way is because in memery file once used it becomes closed and
        cant be open so i just need to submit two one i get the datas from it the other i save it . {% endcomment %}

        function syncFileInputs() {
            const propertyFileInput = document.querySelector('input[name="property_file"]');
            const propertyName = document.querySelector('input[name="name"]');
            const cloneFileInput = document.querySelector('input[name="clone_file"]');
            cloneFileInput.files = propertyFileInput.files;

            // Log the name of the file selected in the propertyFileInput
            if (propertyFileInput.files.length > 0) {
                const fileName = propertyFileInput.files[0].name.split(".")[0];
                console.log('File name added:', fileName);
                // Update the value of the propertyName input field with the file name
                propertyName.value = fileName;
            }
        }

        function syncFileInputs2() {
            const propertyFileInput = document.querySelector('input[id="property_file2"]');
            const propertyName = document.querySelector('input[id="name2"]');
            const cloneFileInput = document.querySelector('input[id="clone_file2"]');
            cloneFileInput.files = propertyFileInput.files;

            // Log the name of the file selected in the propertyFileInput
            if (propertyFileInput.files.length > 0) {
                const fileName = propertyFileInput.files[0].name.split(".")[0];
                console.log('File name added:', fileName);
                // Update the value of the propertyName input field with the file name
                propertyName.value = fileName;
            }
        }
    </script>

    <script>

        const SubmitUploadForm = () => {
            var processingIndicatorText = "The data is being uploaded. Depending on the number of lines, this may take a while"
            ShowLoadingPageWithOutLink(processingIndicatorText);
            console.log("called here")
        }
    </script>


{% endblock %}