{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load custom_filters %}


{% block content %}
    <div class="row">


        <div class="col-12">
            <div class="card">
                <div class="card-header color-dark fw-500">
                    Uploads
                </div>
                <div class="card-body p-0">
                    <div class="table4 p-25 mb-30">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                <tr class="userDatatable-header">
                                    <th>
                                        <span class="userDatatable-title">Counter</span>
                                    </th>
                                    <th>
                                        <span class="userDatatable-title">Name</span>
                                    </th>

                                    <th>
                                        <span class="userDatatable-title">Status</span>
                                    </th>
                                    <th>
                                        <span class="userDatatable-title">Timestamp</span>
                                    </th>
                                    <th>
                                        <span class="userDatatable-title">Action</span>
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for item in contracts %}
                                    <tr>
                                        <td>
                                            <div class="userDatatable-content">
                                                <a href="{% url "contract_detail" item.id %}"> {{ forloop.counter }}</a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                <a href="{% url "contract_detail" item.id %}">{{ item.name }}</a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                {% if item.status == "SUCCESS" %}
                                                    <h4 class="badge  badge-dot--big"
                                                        style="background-color: #1B3F7F; border-radius: 2px; width: 70px">{{ item.status }}
                                                    </h4>
                                                {% else %}
                                                    <h4 class="badge  badge-dot--big"
                                                        style="background-color: #9D2154; border-radius: 2px; width: 70px">{{ item.status }}
                                                    </h4>
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                {{ item.timestamp }}
                                            </div>
                                        </td>
                                        <td style="max-width: 10px"
                                            class="d-flex justify-content-center align-items-center  px-5">

                                            <form action="{% url 'contract_delete' %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" value="{{ item.id }}"
                                                       name="contract_id">

                                                <button type="submit"
                                                        class=" btn" style="box-shadow: none;">
                                                    <i class="uil uil-trash-alt " style="color: #9D2154"></i>
                                                </button>
                                            </form>
                                            <a href="{% url "contract_update" item.id %}"
                                               class=" btn" style="box-shadow: none;">

                                                <i class="uil uil-edit " style="color: #1B3F7F"></i>
                                            </a>
                                        </td>

                                    </tr>

                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 my-5">
            <div class="card">
                <div class="card-header color-dark fw-500">
                    New Upload
                </div>
                <div class="card-body p-0">
                    <form action="." method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="row px-3 mx-auto">
                            <div class="col-12 col-md-4  form-group mb-md-5   mt-2 ">
                                <label>Rental roll name</label>
                                <input class="form-control form-control-lg" type="text"
                                       name="name"
                                       placeholder="Rent roll name">
                            </div>
                            <div class="col-12 col-md-4 form-group  mb-md-5   mt-2">
                                <label>Rental roll file</label>
                                <input class="form-control form-control-lg" type="file"
                                       name="property_file"
                                       placeholder="file">
                            </div>

                            <div class="col-12 col-md-4 form-group  mb-md-5  mt-2">
                                <label>{{ "" }}</label>
                                <button type="submit"
                                        class="btn btn-lg btn-danger btn-submit" style="background-color:#9D2154">
                                    Upload
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}




