{% extends "base.html" %}
{% load crispy_forms_field %}
{% load crispy_forms_filters %}
{% load custom_filters %}

{% block css %}
    <style>

        .table-container {
            height: 80vh; /* Set the desired height */
            overflow-y: scroll; /* Enable vertical scrolling */
            scrollbar-width: thin; /* Set the width of the scrollbar */
            scrollbar-color: #888888 #f0f0f0; /* Set the color of the scrollbar */
        }


    </style>
{% endblock %}

{% block content %}
    <div class="col-12 mt-30">
        <div class="card border-0">
            <div class="card-header">
                <h6>{{ contract.name }}</h6>
                <div class="card-extra">
                    <strong> Created: </strong> {{ contract.timestamp|timesince }} ago
                </div>
            </div>
            <div class="card-body p-0 pe-2">
                <div class="table-responsive " style="margin-bottom: 50px">

                    <div class="table-container">
                        <table class="table table-bordered table-social">
                            <thead>
                            <tr>
                                <th scope="row" rowspan="3">{{ Counter }}</th>
                                {% for field in object_list|first|get_all_fields %}
                                    {% if field.name not in exclude_management_fields %}
                                        <th scope="row" rowspan="3"
                                            style="font-weight: bolder">{{ field.verbose_name|title }}</th>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>

                            {% for item in object_list %}
                                <tr>
                                    <td class="sticky-counter">{{ forloop.counter }}</td>
                                    {% with item|get_all_field_values as field_values %}
                                        {% with item|get_all_fields as fields %}
                                            {% for field_value, field in field_values|zip_fields_values:fields %}
                                                {% if field.name not in exclude_management_fields %}
                                                    <td style="min-width: 200px">{{ field_value }}</td>
                                                {% endif %}
                                            {% endfor %}
                                        {% endwith %}
                                    {% endwith %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>


                </div>

            </div>
        </div>
    </div>
{% endblock %}

