{% extends "base.html" %}
{% load crispy_forms_field %}
{% load crispy_forms_filters %}
{% load custom_filters %}

{% block content %}
    <div class="col-12 mt-30">
        <div class="card border-0">
            <div class="card-header">
                <h6>Property Management</h6>
                <div class="card-extra">

                </div>
            </div>
            <div class="card-body p-0 pe-2">
                <div class="table-responsive mb-6">
                    <form method="post" action="{% url "update_all_management" contract.id %}">
                        {% csrf_token %}
                        <table class="table table-bordered table-social">
                            <thead>
                            <tr>
                                <th scope="row" rowspan="3">{{ Counter }}</th>
                                {% for field in object_list|first|get_all_fields %}
                                    {% if field.name not in exclude_management_fields %}
                                        <th scope="row" rowspan="3">{{ field.verbose_name|title }}</th>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>

                            {% for form in formset %}
                                <tr>
                                    <td style="min-width: 20px">{{ forloop.counter }}</td>
                                    <input type="hidden" name="{{ form.prefix }}-id" value="{{ form.instance.id }}">
                                    {% for field in form.visible_fields %}
                                        <td style="min-width: 100px">
                                            {% crispy_field field form_show_labels=False %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- Include the formset management fields -->
                        {{ formset.management_form }}
                        <button class="btn btn-primary"
                                style="position: fixed;bottom: 100px;right: 20px;z-index: 9999;width: 10%"
                        >Update
                        </button>
                    </form>

                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% for item in object_list %}
    <tr>
        <td style="min-width: 20px">{{ forloop.counter }}</td>
        {% with item|get_all_field_values as field_values %}
            {% with item|get_all_fields as fields %}
                {% for field_value, field in field_values|zip_fields_values:fields %}
                    {% if field.name not in exclude_management_fields %}
                        <td style="min-width: 200px">
                            <input type="text" width="100" height="100" class="form-control"
                                   name="{{ field.name }}"
                                   value="{{ field_value }}">

                        </td>
                    {% endif %}
                {% endfor %}
            {% endwith %}
        {% endwith %}
    </tr>
{% endfor %}