{% extends "base.html" %}
{% load crispy_forms_field %}
{% load crispy_forms_filters %}
{% load custom_filters %}

{% block css %}
    <style>
        .table-container {
            height: 75vh; /* Set the desired height */
            overflow-y: scroll; /* Enable vertical scrolling */
            scrollbar-width: thin; /* Set the width of the scrollbar */
            scrollbar-color: #888888 #f0f0f0; /* Set the color of the scrollbar */
        }


        td.error_exist_class > input {
            background-color: #EAD0DB;
            color: black;
        }


        /* Media query for screens with a maximum width of 768px or smaller */
        @media (max-width: 768px) {
            .modal-dialog {
                max-width: 80vw !important; /* Adjust the width for smaller screens */
            }
        }

        /* Media query for screens with a minimum width of 1200px or larger */
        @media (min-width: 1200px) {
            .modal-dialog {
                max-width: 50vw !important; /* Adjust the width for larger screens */
            }
        }

        .form-select {
            min-width: 200px !important;;
        }

        .numberinput {
            min-width: 200px !important;;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="col-12 mt-30">
        <div class="d-flex justify-content-end align-content-end m-3">
            {% if validate_errors|length > 0 %}
                <button class="btn btn-outline-primary my-2" data-bs-toggle="modal" data-bs-target="#validate-errors">
                    Show Validation Errors
                </button>
            {% endif %}
            {% if required_field_errors|length > 0 %}
                <button class="btn btn-outline-primary my-2"
                        data-bs-toggle="modal" data-bs-target="#required-fields"
                >Show Required Fields
                </button>

            {% endif %}
            <button type="button" class="btn btn-outline-primary float-end dismiss-all-button "
                    id="dismiss-all-btn">
                Dismiss
                All
            </button>

        </div>
        <div class="card border-0">
            <div class="card-header">
                <h6>{{ contract.name }}</h6>
                <div class="card-extra">
                    <strong> Created: </strong> {{ contract.timestamp|timesince }} ago
                </div>
            </div>
            <div class="card-body p-0 pe-2">
                <div class="table-responsive " style="margin-bottom: 50px">
                    <form id="updateForm" method="post" action="{% url 'contract_update_api' contract.id %}"
                    >
                        {% csrf_token %}
                        <div class="table-container">
                            <table class="table table-bordered table-social">
                                <thead>
                                <tr>
                                    <th scope="row" rowspan="3">{{ Counter }}</th>
                                    {% for field in object_list|first|get_all_fields %}
                                        {% if field.name not in exclude_management_fields %}
                                            <th scope="row" rowspan="3"
                                                style="font-weight: bold">{{ field.verbose_name|title }}</th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>

                                {% for form in formset %}

                                    <tr>
                                        <td class="sticky-counter">{{ forloop.counter }}</td>
                                        <input type="hidden" name="id" value="{{ form.instance.id }}">
                                        {% for field in form.visible_fields %}
                                            {% if field.name != "contract"  and field.name != "user" and field.name != "timestamp" %}
                                                {% comment %} So i returned the error exists class {% endcomment %}
                                                {% check_error_field_name form.instance.id field.name instances_errors as error_exist_class %}
                                                <td style="min-width: 100px;" class="{{ error_exist_class }}">
                                                    {% crispy_field field form_show_labels=False %}
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="d-flex justify-content-between align-items-center"
                             style="position: fixed;bottom: 20px;right: 20px;z-index: 9999;">


                            <button class="btn " id="updateButton"
                                    style=" background-color: #1B3F7F;color: white"
                            >Save
                            </button>
                            <a href="{% url "contract_update" contract.id %}" class="btn mx-2 "
                               style="background-color: #9D2154;color: white"
                            >Validate
                            </a>
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>

    <div class="modal-basic modal fade" id="validate-errors" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content modal-bg-white ">
                <div class="modal-header">
                    <h6 class="modal-title">Validation Errors</h6>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="uil uil-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {% for item in validate_errors %}
                        <p>{{ item }}</p>
                    {% endfor %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"
                            style=" background-color: #1B3F7F;color: white">Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-basic modal fade" id="required-fields" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content modal-bg-white ">
                <div class="modal-header">
                    <h6 class="modal-title">Required Fields Errors</h6>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="uil uil-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    {% for item in required_field_errors %}
                        <p>{{ item }}</p>
                    {% endfor %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"
                            style=" background-color: #1B3F7F;color: white">Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Handle form submission using AJAX
            document.getElementById('updateButton').addEventListener('click', function (event) {
                event.preventDefault(); // Prevent default form submission
                console.log("Submitted")
                // Create an array to store form data
                var formData = [];

                // Collect form data from each form
                var formRows = document.querySelectorAll('form[id=updateForm] tr');
                for (var i = 1; i < formRows.length; i++) {
                    var row = formRows[i];
                    var formId = row.querySelector('input[name="id"]').value;
                    var formFields = {};

                    // Collect field data for each form
                    var fields = row.querySelectorAll('input, select');
                    fields.forEach(function (field) {
                        var fieldName = field.name;
                        var fieldValue = field.value;
                        formFields[fieldName] = fieldValue;
                    });

                    // Create a dictionary with form ID and field data
                    var formDict = {
                        'id': formId,
                        'fields': formFields
                    };

                    // Add the form dictionary to the formData array
                    formData.push(formDict);
                }
                // Get the CSRF token from the cookie
                var csrftoken = getCookie('csrftoken');
                // Send form data using AJAX
                var xhr = new XMLHttpRequest();
                xhr.open('POST', document.getElementById('updateForm').action, true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.setRequestHeader('X-CSRFToken', csrftoken);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4) {
                        if (xhr.status === 200) {
                            // Handle success response
                            console.log('Update successful');
                            // Perform any additional actions or show success message
                        } else {
                            // Handle error response
                            console.log('Update failed');
                            // Display error message or perform error handling
                        }
                    }
                };

                xhr.send(JSON.stringify({forms: formData}));
            });

            // Function to get the value of a cookie by name
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        });

    </script>
{% endblock %}
